<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<th:block th:replace="layout/layout :: head-basic-login"></th:block>
<th:block th:replace="layout/layout :: bootstrap-css"></th:block>
<th:block th:replace="layout/layout :: general-css"></th:block>
		
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>


<body>

<section class="vh-100">
	<div
		class="d-flex justify-content-between flex-column flex-md-row text-center text-white text-md-start  py-3 px-4 px-xl-5 menu-bar">
		<div th:text="${#strings.toUpperCase(applicationData.name)}"></div>
		<div class="float-end">
			<span class="light-link" th:if="${applicationData.webUrl==''}" th:text="${applicationData.authorship}"></span>
			<a class="light-link" th:if="${applicationData.webUrl!=''}" th:href="${applicationData.webUrl}" th:text="${applicationData.authorship}" target="_blank"></a>
		</div>
	</div>

	<div th:replace="layout/layout :: messages-zone"></div>
		
		
	<div class="container-fluid h-custom">
		<div
			class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-5 col-sm-6 main-logo">
				<img th:src="@{/images/app_main_logo.png}" class="img-fluid"
					th:alt="${applicationData.name}">
			</div>
			<div class="col-md-4 col-sm-5 ">
				<form method="post" th:action="@{/login}">

					<div class="divider d-flex align-items-center my-4">
						<p class="text-center fw-bold mx-3 mb-0">Gestión de Tareas</p>
					</div>

					<div class="form-outline mb-4">
						<input type="text" id="username" name="username"
							class="form-control form-control-lg" placeholder="Username" />
					</div>

					<div class="form-outline mb-3">
						<input type="password" id="password" name="password"
							class="form-control form-control-lg" placeholder="Password" />
					</div>

					<div class="text-center text-lg-start mt-4 pt-2 mb-5">
						<button type="submit" class="btn btn-lg standard-button login-button"
							style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
					</div>

				</form>
			</div>
		</div>
	</div>

</section>

<div th:insert="layout/layout :: jquery-js"></div>
<div th:insert="layout/layout :: bootstrap-js"></div>
</body>
</html>


<!-- Duende Code Generator Jose Manuel Rosado ejerciciosmesa.com 2023 -->

